* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    font-family: 'Roboto';
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  background-color: $secondary;
  overflow: hidden;
}