.table-row {
    position: relative;
    display: grid;
    grid-template-columns: 10rem 1fr 20rem 20rem 20rem 20rem;
    height: max-content;
    padding: 1.3rem 0 1.3rem 0;
    border-bottom: 1px solid $tertiary;
    text-align: start;
    align-items: center;
    color: $font-primary;

    &__cell {
        padding: 0 1rem;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 90%;
        background-color: inherit;
        border-radius: .6rem;
        border: 1px solid $tertiary;
        color: $font-secondary;
        padding: 1rem;
    }

    &__img-container {
        display: flex;
        align-items: center;
        width: fit-content;
        gap: .5rem;
        padding: .5rem .8rem .5rem 0;
        border-radius: .6rem;
        position: relative;
    }

    &--img {  
        display: flex;
        position: relative;

        &::before {
            position: absolute;
            top: 45%;
            left: -20%;
            display: block;
            height: 1%;
            width: 1em;
            background-color: #777;
            content: '';
        }

        &::after {
            position: absolute;
            top: -4.1rem;
            left: -20%;
            display: block;
            height: 5.5rem;
            width: 1%;
            background-color: #777;
            content: '';
        }

        &.no-before::before {  
            content: none;
        } 

        &.no-after::after {  
            content: none;
        } 
    }

    &--hover {
        &:hover {  
            background-color: $tertiary;  
            cursor: pointer;  

            .table-row__trashfill {
                display: block;
            }  
        }
    }

    &__trashfill {
        display: none;
    }
}

.loader {  
    border: .1rem solid #f3f3f3;
    border-top: .1rem solid $primary;
    border-radius: 50%;
    width: 100%;
    padding: 1rem;
    animation: spin 1s linear infinite;
}  

@keyframes spin {  
    0% { transform: rotate(0deg); }  
    100% { transform: rotate(360deg); }  
}  